@page "/"
@using Test.Tarek.Web.Components

<PageTitle>Job Applicant Selector</PageTitle>

<h1>Job Applicant Selector</h1>

<p>This app will select the one and only applicant for the job :-)</p>

<p>Just press the big button below and draw up the contract!!</p>


<JobApplicantSelector/>





